# Next.js
.next/
out/
dist/

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Sentry
sentry.properties

# Logs
*.log
npm-debug.log*
